extends listing
block content
	p= __( '%s is a directory with the following contents:', path )
	form(action="/playlist/add/", method="POST")
		- count = 0
		ul.files
			for file in files
				if !file.isDirectory
					- drawButton = true
					li.file
						input(type="checkbox", id="uri_"+count, name="uri_"+count, value=host+path+"/"+file)
						- pretty = file.toString().replace( /(\[.*?\]|[_])/g , '_' ).replace( /_+/g , ' ')
						- extn = pretty.match( /\.[\w]+\s*$/g ).toString().substring( 1 )
						label(for="uri_"+count,title=file,class='extn-'+extn)= pretty
				else
					li.directory
						a(href=file)= file + '/'
				- count++
		if drawButton
			button.button(type="submit") Queue Selected
