extends listing
block content
	p= __( '%s is a file of MIME type %s.', path, mime )

	form(action="/playlist/add/", method="post")
		input(type="hidden", name="uri", value=url)
		input(type="submit", value=__( 'Queue this file' ))
