block flash
	if messages
		div#messages
			if messages.err
				li.flash.err= messages.err
			if messages.warn
				li.flash.warn= messages.warn
			if messages.success
				li.flash.success= messages.success
			if messages.info
				li.flash.info= messages.info
