doctype html
html
	head
		title mplayer queue
		link(rel='stylesheet', href='/style.css')
	body
		header
			h1 Mplayer the queue
		form(action="/queue", method="post")
			input(type="text", name="uri")
			input(type="submit", value="queue")
		ol
			for item in queue
				li #{item.uri}
		footer
			p auf nodejs
