extends skeleton
block top
	h1= __( 'Cinequeue' )
block content
	ul
		li
			a(href="fs")= __( 'View filesystem' )
		li
			a(href="playlist")= __( 'View playlist' )
		li
			a(href="babel")= __( 'Change language' )
