extends skeleton
block top
	h1= __( 'Language selection' )
block content
	p= __( 'You can select a language here.' )
	ul.langselect
		for lang in langs
			li
				a(href=lang.code)= __( '%s (%s)', lang.nativeName, lang.name )
