extends skeleton
block append styles
	link(rel="stylesheet",href="/filesystem.css",type="text/css")
block top
	- breadcrumbs = path.split('/');
	h1
		for breadcrumb in breadcrumbs
			span.breadcrumb= breadcrumb + '/'
