extends skeleton
block append scripts
	script(src='/socket.io/socket.io.js')
	script(src="/playlist.js")
block content
	form.addurl(action="add/", method="post")
		input(type="url", name="uri", placeholder=__( 'URL' ) )
		input(type="submit", name="queue", value=__( 'Queue' ))
	div.misc
		p.addfs
			a(href="/fs")= __( 'Add file from filesystem' )
		ul.controls
			- controls = [ 'play', 'pause', 'skip', 'die' ]
			for control in controls
				li
					a(href="cmd/" + control)= __( control )
	div#queue
		include queue



