extends skeleton
block append styles
	link(rel="stylesheet",href="/playlist.css",type="text/css")
block append scripts
	script(src='/socket.io/socket.io.js')
	script(src="/playlist.js")
block content
	form.addurl(action="add/", method="post")
		input(type="url", name="uri", placeholder=__( 'URL' ) )
		input.button.good(type="submit", name="queue", value=__( 'Queue' ))
	div#queue
		include queue



