body {
	font-family: 'Open Sans',sans-serif;
	background-color: #ddd;
	margin:0;padding:0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.container {
	width: 100%;
}
.top {
	background-color:black;
	color:white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align:center;
	padding:0.2em;
}
h1 {
	background: #444;
	color: #fff;
	margin:0;
}
h1 a {
	padding: 10px;
}

.sidebar {
	float: left;
	position: fixed;
}
.sidebar > ul > li:first-child {
	border: 1px solid #444;
}
h1 a {
	color: #FFF;
	display:block;
}
.sidebar a:hover {
	text-decoration: none;
}
.sidebar ul {
	list-style: none;
	padding: 0;
}
.sidebar > ul {
	width: 300px;
	margin: 0;
	background: #FAFAFA;
}
.sidebar > ul > li {
	margin-bottom: -1px;
	border: solid 1px #CCC;
	border-left: 0;
}
.sidebar > ul > li > a {
	display: block;
	padding: 10px;
	color: #444;
}
.sidebar li a:hover {
	background: #888;
	color: #FFF;
}
.sidebar .controls {
	text-align: center;
}
ul.controls {
	padding: 1em;
	margin: 0;
	font-size: 0.8em;
}
.controls li .button {
	border-radius:0;
	min-width:2em;
}
.controls li:first-child .button {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.controls li:last-child .button {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
ul.controls li {
	display:inline;
}
.nowplaying  {
	background-color: #008700;
	background-image: -moz-linear-gradient(top, #008700, #005c00);
	background-image: -webkit-linear-gradient(top, #008700, #005c00);
	background-image: linear-gradient(top, #008700, #005c00);
	color: #fff;
}
.playing a {
	clear:both;
}
.nowplaying a {
	color: #fff;
}
.nowplaying:hover {
	background-color: green;
}
.bar {
	background-color: #222;
	height: 0.3em;
}
.bar:hover {
	height: 1em;
}
.progress {
	height: 100%;
	background: #555;
}
.audio {
	background: #0a0; /* green */
	background: linear-gradient(to left, #0f0 1em, #0a0 4em);
}
.video {
	background: #00a; /* blue */
	background: linear-gradient(to left, #00f 1em, #00a 4em);
}
.audio-video {
	background: #a00; /* red */
	background: linear-gradient(to left, #f00 1em, #a00 4em);
}
.elapsed, .remaining, .percentage, .title {
	font-size: 0.7em;
	padding:0.2em;
}
.percentage, .title {
	color:darkgray;
	text-align:center;
}
.title {
	display:block;
}
.percentage {
	display:none;
}
.playing:hover .percentage {
	display:block;
}
.playing:hover .title {
	display:none;
}
.elapsed {
	float:left;
}
.remaining {
	float:right;
}
/* footer */
.footer {
	background-color: #c6c6c6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size:70%;
	text-align:center;
	color: #666;
	clear:both;
}
.footer p {
	display:inline-block;
	padding:0.2em 2em;
}
.footer a {
	color: inherit;
}

pre {
	overflow: auto;
	margin:1em;
	border:1px solid gray;
	padding:0.5em;
	border-radius:5px;
	color:gray;
	font-size:80%;
}

.button {
	display:inline-block;
	padding:0.5em;
	font-size:inherit;
	background:white;
	color:#888;
	border:1px solid #ccc;
	border-radius:3px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
.button:hover, .button:focus {
	box-shadow: 0 1px rgba(0,0,0,.1), inset 0 -3px rgba(0, 0, 0, .2)
}
.button.good {
	background: #47A447;
	color: white;
	border:0;
}
.button.bad {
	background: #D2322D;
	color: white;
	border:0;
}
.button.muted {
	background: white;
	color: #888;
	border:1px solid #ccc;
}
.button.muted.bad:hover {
	color: #d2322d;
	background-color: #f2dede;
}
.button.muted.good:hover {
	background-color: #dff0db;
	color: #468847;
}

#messages {
	overflow-y: hidden;
	max-height: 20em;
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#messages.closed {
	max-height: 0;
}
.flash {
	padding:0.5em;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.success {
	background-color: #dff0db;
	color: #468847;
	border-color: #dff0db;
}

.err {
	background-color: #F2DEDE;
	color: #D2322D;
	border-color: #D2322D;
}
.warn {
	background-color: #FCF8E3;
	border-color: #ED9C28;
	color: #ED9C28;
}
.info {
	color: #39B3D7;
	background-color: #D9EDF7;
	border-color: #39B3D7;
}
.content {
	padding: 0.2em 1em;
	margin-left: 300px;
	background-color: #EEE;
}
.langselect {
	-ms-column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	text-align:center;
	list-style-type:none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #aaa;
}
th {
	background-color: #fafafa;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

tbody tr:hover {
	background: #66f;
}
tbody tr:hover td, tbody tr:hover a {
	color: #fff;
}

td {
	padding:0.4em inherit;
}
input:focus {
	border-color: orange;
}
@media (max-width: 900px) {
	.addurl {
		font-size:0.8em;
		margin-top:1em !important;
	}
	.addurl .button {
		display:none;
	}
	.addurl input {
		margin:0;
		border-radius:5px !important;
	}
	h2 {
		float:left;
		margin-right:1em;
	}
	#directory {
		clear:both;
	}
	.breadcrumb {
		display:inline !important;
	}
	.filename {
		display:none;
	}
}
@media (max-width: 700px) {
	.sidebar {
		float: none;
		position: static;
	}
	.sidebar > ul {
		width: auto;
		/* give distinction between sidebar and content */
		border-bottom: 2px solid #444;
	}
	.content {
		margin-left: 0;
	}
}
@media (max-width: 400px) {
	.requester {
		display:none;
	}
}
#metadata {
	display:block;
	font-size:0.7em;
	margin:1em;
	border-bottom:0;
}
#metadata td:first-child {
	text-align:right;
	font-weight:bold;
	padding-right:0.5em;
}
.hidden{
	display:none;
}
.slow {
	background-color: #d2322d;
	font-variant:small-caps;
	color:white;
	font-size:0.7em;
	text-align:center;
	text-transform:lowercase;
}
#queuebuttons {
	padding:0.5em 0.2em;
}
