@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	font-family: 'Open Sans',sans-serif;
	background-color: #ddd;
	margin:0;padding:0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.container {
	width: 100%;
}
.top {
	background-color:black;
	color:white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align:center;
	padding:0.2em;
}
h1 {
	margin:0;
}
.sidebar {
	float: left;
}
.sidebar li:first-child {
	border: 1px solid #444;
}
.sidebar h1 {
	margin: 0;
	background: #444;
}
.sidebar h1 a {
	color: #FFF !important;
}
.sidebar a:hover {
	text-decoration: none;
}
.sidebar ul {
	width: 250px;
	margin: 0;
	list-style: none;
	padding: 0;
	background: #FAFAFA;
}
.sidebar li {
	margin-bottom: -1px;
	border: solid 1px #CCC;
}
.sidebar li a {
	display: block;
	padding: 10px;
	color: #444;
}
.sidebar li a:hover {
	background: #888;
	color: #FFF;
}
.footer {
	background-color: #c6c6c6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size:70%;
	text-align:center;
	color: #666;
}
.footer p {
	display:inline-block;
	padding:0.2em 2em;
}
.footer a {
	color: inherit;
}

pre {
	overflow: auto;
	margin:1em;
	border:1px solid gray;
	padding:0.5em;
	border-radius:5px;
	color:gray;
	font-size:80%;
}

.flash {
	margin-top:0;
	padding:0.5em;
	text-align:center;
	border-bottom: 2px solid black;
	border-radius: 0 0 15px 15px;
}
/* colors stolen from bootstrap */
.success {
	background-color: #DFF0D8;
	color: #47A447;
	border-color: #47A447;
}
.err {
	background-color: #F2DEDE;
	color: #D2322D;
	border-color: #D2322D;
}
.warn {
	background-color: #FCF8E3;
	border-color: #ED9C28;
	color: #ED9C28;
}
.info {
	color: #39B3D7;
	background-color: #D9EDF7;
	border-color: #39B3D7;
}
.content {
	padding: 0.2em 1em;
	margin-left: 250px;
	background-color: #EEE;
}
.langselect {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	text-align:center;
	list-style-type:none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border-bottom: 1px solid #aaa;
}
th {
	background-color: #fafafa;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

tbody tr:hover {
	background: #66f;
}
tbody tr:hover td, tbody tr:hover a {
	color: #fff;
}

td {
	padding:0.4em inherit;
}

.nowplaying {
	background-color: #008700;
	background-image: -moz-linear-gradient(top, #008700, #005c00);
	background-image: -webkit- linear-gradient(top, #008700, #005c00);
	background-image: linear-gradient(top, #008700, #005c00);
	color: #fff;
}
.nowplaying a {
	color: #fff;
}
.nowplaying:hover {
	background-color: green;
}
.history {
	opacity: 0.5;
	padding:0.2em;
}
.repeat, .repeat button {
	margin:0;
	padding:0;
}
#queue {
	padding: 1em;
}
.icon {
	text-align:center;
	font-size:1.2em;
	padding:0.2em 0.6em;
}
form.addurl {
	display:block;
	text-align:center;
	margin-top:1em;
}
.addurl input {
	padding: 0.2em;
	font-size: 1.4em;
	border-style: solid;
}
input:focus {
	border-color: orange;
}
.addurl input[name="uri"] {
	width:60%;
	border-radius: 15px 0 0 15px;
	padding-left: 15px;
}
.addurl input[name="queue"] {
	width:30%;
	background: #00AF89;
	border-color: #00af89;
	color:white;
	border-radius: 0 15px 15px 0;
}
p.addfs {
	border-radius: 5px;
}
ul.controls {
	display:inline;
}
ul.controls li, p.addfs {
	display:inline;
	list-style: none;
	background-color: #ccc;
	padding:0.4em;
	margin:0;
}
ul.controls li:first-child {
	border-radius: 5px 0 0 5px;
}
ul.controls li:last-child {
	border-radius: 0 5px 5px 0;
}
.misc {
	text-align:center;
	padding:0.5em;
	margin:1em;
}
.requester {
	font-family:monospace;
}

#messages {
	overflow-y: hidden;
	max-height: 20em;
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease;
}
#messages.closed {
	max-height: 0;
}
.empty {
	color: gray;
	text-align:center;
	font-size:1.4em;
	font-style: italic;
	letter-spacing: 0.2em;
}
.empty::before {
	content: '('
}
.empty::after {
	content: ')'
}
ul.files li {
	margin-bottom: 1em;
	font-size:1.2em;
	list-style-type:none;
	word-wrap:break-word;
}
ul.files {
}

.breadcrumb {
	font-size: 0.5em;
	color: #999;
}
.breadcrumb:last-child {
	color: #000;
	font-size: 1em;
	display: block;
}

@media ( max-width: 959px ) {
	.sidebar {
		float: none;
	}
	.sidebar ul {
		width: auto;
	}
	.content {
		margin-left: 0;
	}
}
